.ant-picker {
  border-color: currentColor;
  border-radius: 0.5rem;
}
.ant-picker .ant-picker-suffix {
  color: @color-primary;
}
/* ---------------------------------- */
/*         ANT PICKER DROPDOWN        */
/* ---------------------------------- */
.ant-picker-dropdown .ant-picker-panel-container {
  border-radius: 1rem;
  padding: 1em;
}
