.ant-modal {
  width: auto !important;
  button.ant-modal-close {
    display: none;
  }
  &-content {
    padding: 1em 2em;
    border-radius: 1rem;
    box-shadow: @box-shadow-dimblue;
  }
  &-header {
    border-bottom: 0;
  }
  &-footer {
    border-top: 0;
  }
  &-title {
    font-size: 2.8rem;
    font-weight: bold;
    text-align: center;
  }
}
