.ant-select {
  min-width: 10rem;
  &-selector {
    border: 1px solid currentColor !important;
    border-radius: 0.5rem !important;
  }
  &-selection-item {
    border-right: 1px solid currentColor;
    margin-right: 2rem;
    font-weight: 600;
  }
  &-arrow {
    color: @color-primary;
  }
}
