.table-panel {
  @gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & :is(.selection-grp, .field, .btn-grp) {
    gap: @gap;
    display: flex;
    align-items: center;
  }
  .selection-grp {
    gap: @gap * 2;
  }
  .btn-grp {
    width: fit-content;
    margin-left: auto;
    .ant-btn {
      width: auto;
      height: auto;
      padding: 0.5em 1.5em;
      font-size: 1.8rem;
      &.delete-btn {
        padding: 0;
      }
      &.export-btn {
        border: 1px solid @color-primary;
      }
    }
    .ant-divider {
      background: @color-gray-dark;
    }
    .delete-btn .anticon {
      font-size: 2rem;
    }
  }
}
