/* ---------- form control ---------- */
.ant-form-item[data-length="true"] .ant-input-affix-wrapper {
  background: white;
  border-color: @color-gray-dark;
}
.ant-form-item[data-length="true"] .ant-input {
  background: white;
}
/* -------- input with prefix ------- */
.ant-input-affix-wrapper {
  background: @color-gray-light;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
}
.ant-input-prefix {
  color: @color-gray-dark;
  margin-right: 0.5em;
}
/* --------- without prefix --------- */
.ant-input {
  background: @color-gray-light;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  padding: 0.5em 1em;
}
