/* ------- original datepicker ------ */
.datepicker.ant-picker {
  border-color: currentColor;
  border-radius: 0.5rem;
  .ant-picker-suffix {
    color: @color-primary;
  }
  .ant-picker-footer {
    border-top: 0 !important;
    margin: 0.5em 0;
  }
  .ant-picker-today-btn {
    color: white;
    background: @color-primary;
    padding: 0.5em 1.5em;
    border-radius: 0.5rem;
    font-weight: bold;
  }
}
/* -------- inform datepicker ------- */
.datepicker.datepicker-inform {
  width: 100%;
  border-color: @color-gray-dark;
  .ant-picker-suffix {
    margin-right: 0.5em;
  }
  &.empty {
    border-color: transparent;
    background-color: @color-gray-light;
  }
}

/* ------------ dropdown ------------ */
.datepicker-dropdown {
  font-size: 1.6rem;
  .ant-picker-panel-container {
    border-radius: 1rem;
    padding: 1em 2em;
  }
  .ant-picker-panel {
    border: 0;
  }
  .ant-picker-header {
    border-bottom: 0;
    font-family: @sub-font;
    &-super-prev-btn,
    &-super-next-btn {
      display: none;
    }
    &-prev-btn,
    &-next-btn {
      color: @color-primary;
    }
    &-view {
      font-weight: bold;
    }
  }
  .ant-picker-body {
    .ant-picker-content {
      margin-inline: auto;
    }
    padding: 0;
    thead th {
      font-weight: bold;
      color: @color-secondary;
    }
    .ant-picker-cell {
      padding: 0.5rem 0;
    }
    .ant-picker-cell-selected {
      .ant-picker-cell-inner {
        border-radius: 0.5rem;
      }
    }
  }
  .ant-picker-footer {
    border-top: none;
    margin: 0.5em 0;
    .ant-picker-today-btn {
      font-weight: bold;
      padding: 0.5em 1.5em;
      border-radius: 0.5rem;
      background-color: @color-primary;
      color: white;
    }
  }
}
