.tag.ant-tag {
  font-size: 1.4rem;
  padding: 0.3em 0.6em;
  border-radius: 999px;
  color: white;
  background-color: @color-secondary;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  &.status-tag {
    border: 1px solid currentColor;
    background-color: transparent;
    display: inline-flex;
    gap: 1rem;
    border-radius: 0.5rem;
  }
  .ant-tag-close-icon {
    background-color: white;
    border-radius: 50%;
    padding: 0.2em;
    .icon {
      transform: rotate(45deg);
      width: 1.4rem;
      filter: invert(39%) sepia(78%) saturate(1584%) hue-rotate(199deg)
        brightness(96%) contrast(93%);
      img {
        filter: brightness(0) saturate(100%);
      }
    }
  }
  .dot {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: currentColor;
  }
  &[data-status="1"] {
    color: @color-success;
  }
  &[data-status="2"] {
    color: @color-info;
  }
  &[data-status="3"] {
    color: @color-warning;
  }
  &[data-status="4"] {
    color: @color-default;
  }
  &[data-status="5"] {
    color: @color-error;
  }
}

/* ---------- checkable tag --------- */
.checkable-tag {
  padding: 0.5em 1em;
  border-radius: 999px;
  font-weight: bold;
  background-color: @color-gray-light;
  &.ant-tag-checkable-checked {
    background-color: @color-secondary;
    color: white;
  }
}
