.ant-tag {
  font-size: 1.4rem;
  background: transparent;
  border-radius: 0.5rem;
  padding: 0.4em 1em;
  border-color: currentColor;
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  .dot {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: currentColor;
  }
  &.ejected {
    color: #e91f24;
  }
  &.school-transfered {
    color: #373839;
  }
  &.class-transfered {
    color: #ff7506;
  }
  &.graduated {
    color: #51a4f1;
  }
  &.learning {
    color: #3cc13b;
  }
}
