.classes-list-page {
  .table-frame-body {
    all: unset;
    margin-top: 1.5em;
  }
  .table-wrapper {
    padding: 1em 4em;
    box-shadow: @box-shadow-dimblue;
    border-radius: 1rem;
    flex-grow: 1;
  }
}
