.class-detail {
  @padding: 1em 4em;
  &-body {
    margin-top: 1.5em;
    padding: @padding;
    border-radius: 1rem;
    box-shadow: @box-shadow-dimblue;
    .tabs {
      margin-block: 1em;
    }
    .intab-table {
      .ant-table {
        .save-btn {
          border-radius: 0.5rem;
          color: @color-primary;
          border: 1px solid currentColor;
        }
      }
    }
  }
}
