.lecture-detail-page {
  /* ------- lecture info panel ------- */
  .lecture-info-panel {
    flex-grow: 1;
    .btn-grp {
      margin-left: auto;
    }
  }
  /* ------- lecture info content ------- */
  .lecture-info-content {
    margin-bottom: 1em;
    .info-row {
      margin-block: 2em;
      .info-wrapper-subtitle {
        margin-bottom: 0.5em;
      }
      .info-wrapper-avatar-section {
        margin-right: 5rem;
      }
      .pseudo-field {
        width: 40rem;
        margin-top: 0.7em;
        &-label {
          width: 35%;
          font-weight: 600;
        }
      }
    }
  }
}
