.class-form {
  .semester-group-selection {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    .group-select {
      & > div {
        width: 15rem;
      }
    }
    .semester-select {
      & > .ant-form-item-control {
        width: 15rem;
      }
    }
  }
  .form-bottom {
    .extend-data {
      margin-top: 1em;
    }
    .form-list {
      &-inner {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
      }
      margin-top: 1em;
    }
  }
}
