.ant-form {
  label.ant-form-item-required {
    position: relative;
    &::before {
      position: absolute;
      top: baseline;
      left: 100%;
      font-weight: bold;
    }
  }
}
/* ---------- form buttons ---------- */
.form-btn {
  min-width: 15rem;
  height: auto;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0.5em 1em;
  &.cancel-btn {
    background-color: @color-gray-light;
  }
  &-container {
    margin-top: 1em;
  }
}
