.grade-form {
  .form-item {
    @label-width: 20rem;
    .ant-form-item-label {
      width: @label-width;
    }
    .ant-form-item-control {
      width: @label-width * 2;
    }
    &.id-field {
      input {
        width: @label-width;
      }
    }
  }
}
