.lecture-form {
  .info-row {
    margin-block: 2em;
    .info-wrapper-avatar-section {
      margin-right: 5rem;
    }
    .ant-form-item {
      width: 40rem;
      &-label {
        width: 35%;
      }
      &-control {
        width: auto;
        &-input {
          width: 80%;
        }
      }
    }
  }
}
