.database-page {
  @padding: 1em;
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
  .section-content {
    display: flex;
    gap: 3rem;
    flex-grow: 1;
  }
  /* ----------- side panel ----------- */
  .side-panel {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: @box-shadow-dimblue;
    .view-panel {
      font-size: 1.6rem;
      color: white;
      padding: @padding;
      background: @color-dark;
      &-field {
        margin-top: 0.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .label {
          font-weight: 800;
        }
      }
    }
    .entry-list {
      padding: @padding;
      font-size: 1.8rem;
      .entry-item {
        padding: 0.5em 1em;
        border: 2px solid @color-primary-light-1;
        background: @color-primary-light-3;
        margin-top: 1em;
        border-radius: 1rem;
        cursor: pointer;
        &:hover {
          background: @color-primary-light-1;
        }
        &[data-selected="true"] {
          font-weight: bold;
          color: white;
          background: @color-primary-dark-2;
          border-color: @color-primary-dark-2;
        }
      }
    }
  }
  /* ----------- table-frame-custom ---------- */
  .table-frame {
    /* ----------- class table ---------- */
    &.class-table {
      .export-btn {
        border: 1px solid currentColor;
      }
    }
    /* ----------- score table ---------- */
    &.score-table {
      .ant-table-cell[colspan] {
        border: 1px solid currentColor;
        border-top: 0;
      }
      th:not(.ant-table-cell[colspan]):not(.ant-table-cell[rowspan]) {
        border-left: 1px solid currentColor;
        border-right: 1px solid currentColor;
      }
    }
  }
}
