.score-form {
  .form-top {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  .form-bottom {
    .ant-space {
      margin-top: 1em;
    }
    .ant-form-item {
      &-control {
        max-width: 15rem;
      }
    }
  }
  .btn-grp {
    margin-top: 2em;
  }
}
