.student-form {
  .ant-form-item {
    &-label {
      text-align: left;
      width: 20rem;
    }
    &-control {
      font-size: 1.6rem;
      width: 60rem;
    }
  }
  .ant-upload-list {
    display: none;
  }
  .datepicker {
    width: auto;
  }
}

.class-transfer {
  .transfer-day-selector {
    .select {
      width: 20rem;
    }
  }
}
